<!DOCTYPE html>
<html lang="en">
  <head>
    <%= display_meta_tags %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= Gon::Base.render_data %>

   <link rel="apple-touch-icon" sizes="180x180" href="https://salestiger-assets.s3.us-west-2.amazonaws.com/favicons/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="192x192"  href="https://salestiger-assets.s3.us-west-2.amazonaws.com/favicons/android-chrome-192x192.png">
   <link rel="icon" type="image/png" sizes="32x32" href="https://salestiger-assets.s3.us-west-2.amazonaws.com/favicons/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="https://salestiger-assets.s3.us-west-2.amazonaws.com/favicons/favicon-16x16.png">
   <meta name="msapplication-TileColor" content="#0E0E0E">
   <meta name="theme-color" content="#ffffff">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <meta name="template-color" content="#0E0E0E">
   <link href="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/css/style.css" rel="stylesheet">

   <%= render "layouts/hotjar" %>
  </head>

  <body>
    <%= yield %>
    <!-- Footer-->
    <footer class="footer mt-50">
      <div class="container">
        <div class="footer-top">
          <div class="row">
            <div class="col-md-4 col-sm-6 text-center text-md-start"><a href="index.html"><img width="200" src="https://salestiger-assets.s3.us-west-2.amazonaws.com/images/logonobg.png"></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 width-20 mb-30">
            <h4 class="text-heading-5">Contact</h4>
            <div class="mt-20 text-body-text color-gray-600 mb-20">+1 619-289-8025</div>
            <div class="mt-20 text-body-text color-gray-600">chris@salestiger.io</div>
          </div>
          <div class="col-lg-3 width-20 mb-30">
            <h4 class="text-heading-5">Quick Links</h4>
            <ul class="menu-footer mt-20">
              <li><a href="/">Home</a></li>
              <li><a href="/#features">Features</a></li>
              <li><a href="/#testimonials">Testimonials</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-bottom mt-20">
          <div class="row">
            <div class="col-md-6"><span class="color-gray-400 text-body-lead">&copy; SalesTiger Official 2023</span><a class="text-body-text color-gray-400 ml-50" href="/terms">Terms of Service</a></div>
          </div>
        </div>
      </div>
    </footer>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/vendors/modernizr-3.6.0.min.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/jquery-migrate-3.3.0.min.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/waypoints.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/wow.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/magnific-popup.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/perfect-scrollbar.min.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/select2.min.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/isotope.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/scrollup.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/counterup.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/slick.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/jquery.elevatezoom.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/swiper-bundle.min.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/noUISlider.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/slider.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/main.js?v=1.0"></script>
  </body>
</html>
