<!DOCTYPE html>
<html lang="en">
  <head>
    <%= display_meta_tags %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= Gon::Base.render_data %>

   <link rel="apple-touch-icon" sizes="180x180" href="https://salestiger-assets.s3.us-west-2.amazonaws.com/favicons/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="192x192"  href="https://salestiger-assets.s3.us-west-2.amazonaws.com/favicons/android-chrome-192x192.png">
   <link rel="icon" type="image/png" sizes="32x32" href="https://salestiger-assets.s3.us-west-2.amazonaws.com/favicons/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="https://salestiger-assets.s3.us-west-2.amazonaws.com/favicons/favicon-16x16.png">
   <meta name="msapplication-TileColor" content="#0E0E0E">
   <meta name="theme-color" content="#ffffff">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <meta name="template-color" content="#0E0E0E">
   <link href="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/css/style.css" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
    <!-- Footer-->
    <footer class="footer mt-50">
      <div class="container">
        <div class="footer-top">
          <div class="row">
            <div class="col-md-4 col-sm-6 text-center text-md-start"><a href="index.html"><img alt="Agon" src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/imgs/template/logo.svg"></a></div>
            <div class="col-md-8 col-sm-6 text-center text-md-end"><span class="color-gray-900 text-heading-6 mr-30 text-mb-sm-20">Ready to get started?</span><a class="btn btn-square" href="page-signup.html">Create an Account</a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 width-20 mb-30">
            <h4 class="text-heading-5">Contact</h4>
            <div class="mt-20 text-body-text color-gray-600 mb-20">4517 Washington Ave. Manchester, Kentucky 39495</div>
            <div class="mt-20 text-body-text color-gray-600">(239) 555-0108</div>
            <div class="text-body-text color-gray-600"><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="fe9d91908a9f9d8abe9f999190d09d9193">[email&#160;protected]</a></div>
          </div>
          <div class="col-lg-3 width-20 mb-30">
            <h4 class="text-heading-5">About Us</h4>
            <ul class="menu-footer mt-20">
              <li><a href="#">Mission &amp; Vision</a></li>
              <li><a href="#">Our Team</a></li>
              <li><a href="page-career.html">Careers</a></li>
              <li><a href="#">Press &amp; Media</a></li>
              <li><a href="#">Advertising</a></li>
              <li><a href="#">Testimonials</a></li>
            </ul>
          </div>
          <div class="col-lg-3 width-20 mb-30">
            <h4 class="text-heading-5">Discover</h4>
            <ul class="menu-footer mt-20">
              <li><a href="blog-2.html">Our Blog</a></li>
              <li><a href="page-pricing-1.html">Plans &amp; Pricing</a></li>
              <li><a href="#">Knowledge Base</a></li>
              <li><a href="#">Cookie Policy</a></li>
              <li><a href="#">Office Center</a></li>
              <li><a href="blog-1.html">News &amp; Events</a></li>
            </ul>
          </div>
          <div class="col-lg-3 width-20 mb-30">
            <h4 class="text-heading-5">Support</h4>
            <ul class="menu-footer mt-20">
              <li><a href="page-faqs-1.html">FAQs</a></li>
              <li><a href="#">Editor Help</a></li>
              <li><a href="#">Community</a></li>
              <li><a href="#">Live Chatting</a></li>
              <li><a href="page-contact.html">Contact Us</a></li>
              <li><a href="#">Support Center</a></li>
            </ul>
          </div>
          <div class="col-lg-3 width-16">
            <h4 class="text-heading-5">Useful links</h4>
            <ul class="menu-footer mt-20">
              <li><a href="#">Request an offer</a></li>
              <li><a href="#">How it works</a></li>
              <li><a href="page-pricing-2.html">Pricing</a></li>
              <li><a href="#">Reviews</a></li>
              <li><a href="#">Stories</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-bottom mt-20">
          <div class="row">
            <div class="col-md-6"><span class="color-gray-400 text-body-lead">&copy; Agon Official 2022</span><a class="text-body-text color-gray-400 ml-50" href="page-terms.html">Privacy policy</a><a class="text-body-text color-gray-400 ml-50" href="page-terms.html">Cookies</a><a class="text-body-text color-gray-400 ml-50" href="page-terms.html">Terms of service</a></div>
            <div class="col-md-6 text-center text-lg-end text-md-end">
              <div class="footer-social"><a class="icon-socials icon-facebook" href="https://facebook.com" target="_blank"></a><a class="icon-socials icon-twitter" href="https://twitter.com" target="_blank"></a><a class="icon-socials icon-instagram" href="https://www.instagram.com" target="_blank"></a><a class="icon-socials icon-linkedin" href="https://www.linkedin.com" target="_blank"></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/vendors/modernizr-3.6.0.min.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/jquery-migrate-3.3.0.min.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/waypoints.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/wow.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/magnific-popup.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/perfect-scrollbar.min.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/select2.min.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/isotope.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/scrollup.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/counterup.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/slick.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/jquery.elevatezoom.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/swiper-bundle.min.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/noUISlider.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/slider.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/main.js?v=1.0"></script>
  </body>
</html>
