<!DOCTYPE html>
<html lang="en">
  <head>
    <%= display_meta_tags %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= Gon::Base.render_data %>

   <link rel="apple-touch-icon" sizes="180x180" href="https://salestiger-assets.s3.us-west-2.amazonaws.com/favicons/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="192x192"  href="https://salestiger-assets.s3.us-west-2.amazonaws.com/favicons/android-chrome-192x192.png">
   <link rel="icon" type="image/png" sizes="32x32" href="https://salestiger-assets.s3.us-west-2.amazonaws.com/favicons/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="https://salestiger-assets.s3.us-west-2.amazonaws.com/favicons/favicon-16x16.png">
   <meta name="msapplication-TileColor" content="#0E0E0E">
   <meta name="theme-color" content="#ffffff">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <meta name="template-color" content="#0E0E0E">
   <link href="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/css/style.css" rel="stylesheet">

   <%= render "layouts/hotjar" %>
  </head>

  <body>
    <%= yield %>
    <!-- Footer-->
    <footer class="footer mt-50">
      <div class="container">
        <div class="footer-top">
          <div class="row">
            <div class="col-md-4 col-sm-6 text-center text-md-start"><a href="index.html"><img width="200" src="https://salestiger-assets.s3.us-west-2.amazonaws.com/images/logonobg.png"></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 width-20 mb-30">
            <h4 class="text-heading-5">Contact</h4>
            <div class="mt-20 text-body-text color-gray-600 mb-20">+1 619-289-8025</div>
            <div class="mt-20 text-body-text color-gray-600">chris@salestiger.io</div>
          </div>
          <div class="col-lg-3 width-20 mb-30">
            <h4 class="text-heading-5">Quick Links</h4>
            <ul class="menu-footer mt-20">
              <li><a href="/">Home</a></li>
              <li><a href="/#features">Features</a></li>
              <li><a href="/#testimonials">Testimonials</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-bottom mt-20">
          <div class="row">
            <div class="col-md-6">
              <span class="color-gray-400 text-body-lead">&copy; SalesTiger Official 2023</span>
              <a class="text-body-text color-gray-400 ml-50" href="/terms">Terms of Service</a>
              <a class="text-body-text color-gray-400 ml-50" href="/privacy">Privacy Policy</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/jquery-3.6.0.min.js" integrity="sha384-DBJq/Y18IQJ1riVfkhcolvypPCF0HRFb9iPENNqi7hGVqU1UnHI1Rg7BoDq0rsGz" crossorigin="anonymous"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/jquery-migrate-3.3.0.min.js" integrity="sha384-gImME4NPGl7FptA+KRTOE1Ry1PTfAKtHU8MYn+DT6RNTCQsVd8nMizlgadafSwgw" crossorigin="anonymous"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/waypoints.js" integrity="sha384-FsEH2lHiHBHrVCf8WzeCRA4Lip9hnYT+wt+cdeCgeQwwPyuGM3iU5N61inYzSyF6" crossorigin="anonymous"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/wow.js" integrity="sha384-MtP3OJbe7Vih3hJoEVeEftU/z+5IssT/+3WdytjpqCbPfHJ661ksfQO8MB5LD1oD" crossorigin="anonymous"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/magnific-popup.js" integrity="sha384-pS6LpOwwdsf7Kph9zzcYf0lqdr36rnDKNeCE0nna3OuXxIlsUT/VqrDJRgMSEhDy" crossorigin="anonymous"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/perfect-scrollbar.min.js" integrity="sha384-CspyH8p7PBmZC/5ZFkLih7r5ZGgX7LgEZ/B0ntTJOs3D9QyRadtCOpcl+MkUhTur" crossorigin="anonymous"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/select2.min.js" integrity="sha384-16x1kUZCRWFZZozxAimwW7H90mHjc2a8SfXcKpgcWyHLBp83CwLiwJh84JcAJvFM" crossorigin="anonymous"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/isotope.js" integrity="sha384-tQ7ZjfJ887aIkeWzMUwrD+nx0dyf0424WPNWvO28A8E4fEu788B+ujf9oGQ9DdFv" crossorigin="anonymous"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/scrollup.js" integrity="sha384-Z/JDrBDCklEX0OojL42VcoRku7nPwakzk4+WtObZoxXWFVuvjMGl1Ut2iKSJKBN6" crossorigin="anonymous"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/counterup.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/slick.js" integrity="sha384-G5q7pplz9S7hXUD0wfr4lbjdKWMfGyaV7ObupAibkXiB6gxJaWLzUj+KT7XLxdFD" crossorigin="anonymous"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/jquery.elevatezoom.js" integrity="sha384-mSykqtTuzzPjQVLxNPi0g26FpptFAbWV/95AjzMQtvTVEayu9IQmdlrpn2Hirdfd" crossorigin="anonymous"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/swiper-bundle.min.js" integrity="sha384-qHG3VJzDmT3h4YbHYYjSWASXrYD5n4JcKBf+9MzI01tDeesjEFX83uo+lb1WOSgE" crossorigin="anonymous"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/noUISlider.js" integrity="sha384-sjTNvaKb9XYVLXpkIr8sCI47IP0V4PbnQMlVYnyPyxtC0W2SZWgZsrTGoTflI9fQ" crossorigin="anonymous"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/vendors/slider.js" integrity="sha384-wF2SXJRX7u0J7T1S4j6QHHI7FB5sgRvhct7z0EQFRaBn3WL50saIbUrFXbLF1MLO" crossorigin="anonymous"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/alithemes/assets/js/main.js?v=1.0" integrity="sha384-v49KcY8HLtjpCCnPAu/bCMK8TqU1pvTmoxibJe5K5p0ry1Z6izIhnM6MsGBkBBBY" crossorigin="anonymous"></script>
  </body>
</html>
