<!DOCTYPE html>
<html lang="en">
  <head>
     <%= display_meta_tags %>
     <%= csrf_meta_tags %>
     <%= csp_meta_tag %>
     <%= Gon::Base.render_data %>
    <link rel="apple-touch-icon" sizes="180x180" href="https://salestiger-assets.s3.us-west-2.amazonaws.com/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="https://salestiger-assets.s3.us-west-2.amazonaws.com/favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://salestiger-assets.s3.us-west-2.amazonaws.com/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://salestiger-assets.s3.us-west-2.amazonaws.com/favicons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/css/vendors/font-awesome.css">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/css/vendors/icofont.css">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/css/vendors/themify.css">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/css/vendors/flag-icon.css">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/css/vendors/feather-icon.css">
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/css/vendors/animate.css">
    <link rel="stylesheet" type="text/css" href="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/css/vendors/chartist.css">
    <link rel="stylesheet" type="text/css" href="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/css/vendors/slick.css">
    <link rel="stylesheet" type="text/css" href="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/css/vendors/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/css/vendors/prism.css">
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/css/vendors/bootstrap.css">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/css/style.css">
    <link id="color" rel="stylesheet" href="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/css/color-1.css" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/css/responsive.css">

    <style>
      .ql-container {
        min-height: 10rem;
        height: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
      }

      .ql-editor {
        height: 100%;
        flex: 1;
        overflow-y: auto;
        width: 100%;
      }
    </style>

  </head>
  <body>
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- Loader starts-->
    <div class="loader-wrapper">
      <div class="loader"></div>
    </div>
    <!-- Loader ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <div class="page-header">
        <div class="header-wrapper row m-0">
          <div class="header-logo-wrapper col-auto p-0">
            <div class="logo-wrapper"><a href="/"><img class="img-fluid" src="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/images/logo/login.png" alt=""></a></div>
            <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="align-center"></i></div>
          </div>
          <div class="nav-right col-8 pull-right right-header p-0">
            <ul class="nav-menus">
              <li class="profile-nav onhover-dropdown p-0 me-0">
                <div class="d-flex profile-media"><img class="b-r-50" src="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/images/dashboard/profile.jpg" alt="">
                  <div class="flex-grow-1"><span><%= current_user.name %></span>
                    <p class="mb-0 font-roboto">Admin <i class="middle fa fa-angle-down"></i></p>
                  </div>
                </div>
                <ul class="profile-dropdown onhover-show-div">
                  <li><a href="/users/sign_out"><i data-feather="log-in"> </i><span>Log out</span></a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Page Body Start-->
      <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
        <div class="sidebar-wrapper">
          <div>
            <div class="logo-wrapper"><a href="/"><img class="img-fluid for-light" src="<%= current_user.account.logo_url %>" alt=""></a>
            </div>
            <div class="logo-icon-wrapper"><a href="/"><img class="img-fluid" src="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/images/logo/logo-icon1.png" alt=""></a></div>
            <nav class="sidebar-main">
              <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
              <div id="sidebar-menu">
                <ul class="sidebar-links" id="simple-bar">
                  <li class="back-btn"><a href="index.html"><img class="img-fluid" src="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/images/logo/logo-icon.png" alt=""></a>
                    <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
                  </li>
                  <li class="menu-box">
                    <ul>
                      <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/team_members"><i data-feather="users"></i><span>Your Sales Team</span></a>
                      <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/workflows"><i data-feather="check-circle"></i><span>Workflows</span></a>
                      <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/leads"><i data-feather="list"></i><span>Leads</span></a>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
            </nav>
          </div>
        </div>
        <!-- Page Sidebar Ends-->
        <div class="page-body">
          <%= yield %>
        </div>
      </div>
    </div>
    <!-- latest jquery-->
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/js/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap js-->
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- feather icon js-->
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/js/icons/feather-icon/feather-icon.js"></script>
    <!-- scrollbar js-->
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/js/scrollbar/simplebar.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/js/scrollbar/custom.js"></script>
    <!-- Sidebar jquery-->
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/js/config.js"></script>
    <!-- Plugins JS start-->
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/js/sidebar-menu.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/js/chart/chartist/chartist.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/js/chart/chartist/chartist-plugin-tooltip.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/js/chart/knob/knob.min.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/js/chart/knob/knob-chart.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/js/chart/apex-chart/apex-chart.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/js/chart/apex-chart/stock-prices.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/js/prism/prism.min.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/js/clipboard/clipboard.min.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/js/custom-card/custom-card.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/js/dashboard/default.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/js/slick-slider/slick.min.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/js/slick-slider/slick-theme.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/js/typeahead/handlebars.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/js/typeahead/typeahead.bundle.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/js/typeahead/typeahead.custom.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/js/typeahead-search/handlebars.js"></script>
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/js/typeahead-search/typeahead-custom.js"></script>
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="https://salestiger-assets.s3.us-west-2.amazonaws.com/enzo/assets/js/script.js"></script>
    <!-- login js-->
    <!-- Plugin used-->
  </body>
</html>
